.input-field {
    padding: 12px 15px 11px 15px;
    border-radius: 10px;
    color: #4469a0;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #988e75;
    outline: none;
    width: 100%;
}

.input-field:hover {
    filter: brightness(105%);
}

.input-field-error {
    border-color: #cf3f53;
    background-color: #e9afb7;
}

.input-field-controller {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-48%);
}

.input-field-controller > svg {
    width: 20px;
    height: 20px;
    fill: #4469a0;
    cursor: pointer;
}
