.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 40px 80px;
    margin: 60px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login-form > *, .login > * {
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    .login {
        padding: 0;
    }
}
