.image-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: inherit;
}

.image-page > * {
    width: 50%;
}

@media screen and (max-width: 900px) {
    .image-page {
        justify-content: center;
    }

    .image-page-image {
        display: none
    }

    .image-page-content {
        width: 80%;
    }

}
